body {
  margin: 0;
  font-family: sans-serif;
  background-color:skyblue ;
}

header {
  background:rgb(68, 189, 237);
  color: white;
  text-align: center;
  padding: 1rem;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.search-input, .type-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.loading, .error {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}
